.demo{
    border: solid 2px orange;
    display: flex;
    width:500px;
    height: 100px;
  
}

.item{display: block;
    background-color: blueviolet;
    border: solid 1px black;
    color: white;
    width: 50px;
    padding: 20px;
}

.diyige{   
      
   width:100%;    
    margin:0 auto;
    word-break:break-all;
     display: inline-block;
     height:auto; 
    
   
} 
.dingbu{
   display: block;height:auto;
    background-color: rgb(34,46,66);
    width: 77%;
    margin:0 auto;    position: relative;
}
.mk1{   
   height: 70px;
    background-color:rgb(34,46,66);
    
    display: inline-block;
    float: left;
   margin:0;
}
.logo img{
   height: 70px;
   width: 250px;

}
.mk2{
   
   height: 70px;
   width: 65px;
    background-color: rgb(34,46,66);     border: solid 1px black;
    display: inline-block;
  margin: 0 auto;
float: left;
  text-align: center;
}
.dingbu2{
   left: 0px;
   top: 35%;
   position: relative;
}


.mk5{ 
   
   width: 240px;
    height: 70px;
    background-color:red;       float:left;
    display: inline-block;
    margin: 0 auto;
border: 1px solid black;
  
}
.mk10{ 
   
    
    height: 70px;
    background-color:rgb(34,46,66);  float: right;     
    display: inline-block;
    margin: 0 auto;
   padding: 0 8px;
   
}
.tongji {
   display: inline-block;
   top: 25px;
 left: 0px;
   position: relative;
}
.mk9{
 
    height: 70px;
    background-color:red;       float: right;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}
.clear{ clear:both} 
.dingbu3{
   display: inline-block;
   top: 25px;
   position: relative;
}
.dingbu4{
   display: inline-block;
   top: 25px;
   position: relative;
}
.dingbu5{
   display: inline-block;
   top: 25px;
   position: relative;
}
.dingbu6{
   display: inline-block;
   top: 25px;
   position: relative;
}
.mk12{
   width: 250px;
}